* {
font-size: 20px;
padding: 8px;
color: aliceblue;
background-color: black;
}

table {
width: 45%;
margin: auto;
}

th, td {
border: 2px solid white;
text-align: center;
background-color: black;
}

td.video {
text-align: center;
width: 110px;
}


.destaque {
background-color: red;
color: white;
padding: 8px;
border-radius: 25px;
margin-bottom: 25px;
}

button {
background-color: red;
color: white;
border: none;
padding: 8px;
margin: 5px;
border-radius: 8px;
cursor: pointer;
font-size: 20px;
text-decoration: none;
}

.btn-voltar {
background-color: blue;
color: white;
border: none;
padding: 8px;
margin: 5px;
border-radius: 8px;
cursor: pointer;
font-size: 20px;
text-decoration: none;
}

h1 {
background-color: green;
color: white;
padding: 8px;
border-radius: 25px;
margin-bottom: 25px;
font-size: 40px;
}

.redondaImg {
width: 200px;      
height: 200px; 
border-radius: 50%;
object-fit: cover;
}